!!!
html
    head
        title Agg
        link(rel='stylesheet', href='/css/style.css')
    body
        #header.container_12
            #fb-root
           // script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js')

        #container.container_12!= body
            block mainContent